:root {
  --bg-color: #f3efc7;
  --header-bg-color: #f3d585;
  --header-font-color: #232323;
  --main-color: #e99696;
  --btn-color: #f0bbbb;
  --shadow-color: #a16f6f;
  --display-bg-color: #fafafa;
  --display-border-color: #dd8888;
  --display-text-color: #5f5f5f;
  --hover-color: #ed8787;
}

body.dark-mode {
  --bg-color: #1b1b1b;
  --header-bg-color: #101010;
  --header-font-color: #fafafa;
  --main-color: rgb(153, 33, 33);
  --btn-color: #652c2c;
  --shadow-color: #a16f6f;
  --display-bg-color: #3c3c3c;
  --display-border-color: #801515;
  --display-text-color: #ffffff;
  --hover-color: #863939;
}

* {
  box-sizing: border-box;
  font-family: 'Consolas', 'Monaco', 'Courier New', monospace;
}

body {
  background-color: var(--bg-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100vh;
  margin: 0;
}

header {
  height: 100px;
  align-self: stretch;
  background-color: var(--header-bg-color);
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 40px;
}

.title {
  font-weight: 900;
  font-size: 30px;
  font-family: 'Rubik Gemstones', serif;
  color: var(--header-font-color);
}

#theme-toggle {
  height: 30px;
  font-weight: 30px;
  background: transparent;
  border: none;
  cursor: pointer;
  padding: 0;
}

#theme-toggle:hover {
  opacity: 0.8;
  transform: scale(1.1); /* Tiny pop effect */
  transition: transform 0.2s;
}

div.container {
  height: 600px;
  width: 400px;
  margin: auto;
  border-radius: 20px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 15px;
  box-shadow: 8px 8px 0px 0px var(--shadow-color);
}

.display {
  flex: 3;
  background-color: var(--display-bg-color);
  border-radius: 20px;
  overflow: hidden;
  border: 5px solid var(--display-border-color);
  color: var(--display-text-color);
  padding: 20px;
  font-weight: 700;
  font-size: 64px;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}

.buttonrow {
  flex: 2;
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.buttonrow button {
  border-radius: 20%;
  flex: 1;
  font-size: 30px;
  background-color: var(--btn-color);
  color: aliceblue;
  font-weight: 900;
  border: none;

  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.05s, box-shadow 0.05s;
}

.buttonrow button:hover {
  background-color: var(--hover-color);
}

.buttonrow button:active,
.buttonrow button.pressed {
  transform: translateY(2px) translateX(2px);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.buttonrow.firstrow {
  justify-content: flex-end;
}

.buttonrow.firstrow button {
  flex: 0 1 0;
  font-size: 20px;
  min-width: 70px;
}
