:root {
  --main-color: rgb(153, 33, 33);
}

* {
  box-sizing: border-box;
  font-family: sans-serif;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

div.container {
  height: 600px;
  width: 400px;
  border-radius: 20px;
  background-color: var(--main-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding: 40px;
  gap: 15px;
  box-shadow: 8px 8px 0px 0px rgb(96, 31, 31);
}

.display {
  flex: 3;
  background-color: rgb(143, 143, 143);
  border-radius: 20px;
  overflow: hidden;
}

.buttonrow {
  flex: 2;
  background-color: var(--main-color);
  display: flex;
  justify-content: space-between;
  gap: 15px;
}

.buttonrow button {
  border-radius: 20%;
  flex: 1;
  font-size: 30px;
  background-color: rgb(79, 79, 79);
  color: aliceblue;
  font-weight: 900;
  border: none;

  box-shadow: 4px 4px 0px 0px rgba(0, 0, 0, 0.5);
  transition: transform 0.05s, box-shadow 0.05s;
}

.buttonrow button:hover {
  background-color: rgb(115, 115, 115);
}

.buttonrow button:active {
  transform: translateY(2px) translateX(2px);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

.buttonrow.firstrow {
  justify-content: flex-end;
}

.buttonrow.firstrow button {
  flex: 0 1 0;
  font-size: 20px;
  min-width: 70px;
}

.display {
  padding: 20px;
  font-weight: 700;
  font-size: 64px;
  color: aliceblue;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
